<p id="notice"><%= notice %></p>

<div class="transitions-enabled" id="restaurants">
  <% @restaurants.each do |restaurant| %> 
    <div class="box panel panel-default">
      <% if restaurant.image.present? %>
        <%= link_to (image_tag restaurant.image.url(:small) , width: '100%'), restaurant %>
      <% else %>
        <%= link_to restaurant.name, restaurant %>
      <% end %>
        <h2>
          <%= link_to restaurant.name, restaurant %>
        </h2>   

        <p class="detail"></p>   
        <div class="panel-body">        
          <h4>種類:
            <%= restaurant.category.name %>
          </h4>    
          <h4>電話1:
            <%= restaurant.phone1 %>
          </h4>
          <h4>電話2:
            <%= restaurant.phone2 %>
          </h4> 
          <h4>素食？:
            <%= restaurant.vegetarian %>
          </h4>                                      
        </div>
        <p class="detail"></p> 
      <div class="btn-group">
        <button type="button" class="btn btn-secondary"><%= link_to 'Show', restaurant %></button>
        <button type="button" class="btn btn-info"><%= link_to 'Edit', edit_restaurant_path(restaurant) %></button>
        <button type="button" class="btn btn-danger"><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </div>
    </div>
  <% end %>
</div>
